{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %}
<section class="welcome">
    <div class="container">
        <h1> Welcome to the game section </h1>
        <p> Choose an available game or create a new one </p>
    </div>
</section>

<section class="games">
    <div class="container">
        <ul>
            <li> <a href="create"> New Game </a> </li>
            {% for manager in managers %}
                <li> <a href="#"></a> </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}